html{
    background-color: #1c1c1e;
}
#landingContainer{
    margin: auto auto 5vh;
    height: 69vh;
    width: 95vw;
    background-color: #2c2c2e;
}
#pageTextContainer{
    position: absolute;
    top: 0vh;
    width: auto;
    margin: 0vh 30vh 0vh 6vh;
    /* container flex */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
}
#pageTitle{
    font-family: Courier;
    font-size: 10vh;
    color:aliceblue;
}
#pageBio{
    font-family: Courier;
    font-size: 1.5vh;
    color:aliceblue;
    height:auto;
    max-width: 65vh;
}
#projectsScreen {
    height: auto;
    /* container flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#projectsContainer {
    min-width: 70vw;
    width: 85vh;
    max-width: 90%;
    height: auto;
    /* container flex */
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
}
.contentContainer {
    width: 100%;
    height: auto;
    color:aliceblue;
    /* container flex */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    column-gap: 2vw;
    row-gap: 2vh;
    background-color: #2c2c2e;
}
.contentTypeOne {
    /* self flex */
    flex-wrap: wrap;
}
.contentTypeTwo {
    /* self flex */
    flex-wrap: wrap-reverse;

}
.contentMedia {
    padding: 2% 0px;
    min-height:200px;
    height: 40vh;
    min-width: 40vh;
    flex-grow: 3;
    display: grid;
    justify-content: center;
    position: relative;
}
.mediaSized{
    height: 35vh;
    min-height:200px;
    min-width: 40vh;
    max-width: 100%;
}
.linkIconSized {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 5%;
    left: 5%;
    pointer-events: none;
}
.contentDescription {
    padding: 0 2.5vh;
    min-height:200px;
    height: 42vh;
    min-width: 46vh;
    inline-size: 30vw;
    /* self flex */
    flex-grow: 4;
    display:grid;
}
.contentDescriptionTitle{
    margin: 12.5px;
    font-family: Courier;
}
.contentDescriptionText{
    font-family: Courier;
    font-size: 1.5vh;
    max-width: 75vw;
}