html{
    background-color: #212124;
}
#projectsScreen {
    height: auto;
    /* container flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: solid aqua 2px;
}
#projectsContainer {
    min-width: 70vw;
    width: 85vh;
    max-width: 90%;
    height: auto;
    /* container flex */
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    border: solid antiquewhite 2px;
}
.contentContainer {
    width: 100%;
    height: auto;
    color:aliceblue;
    /* container flex */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    column-gap: 2vw;
    row-gap: 2vh;
    border: solid firebrick;
}
.contentTypeOne {
    /* self flex */
    flex-wrap: wrap;
}
.contentTypeTwo {
    /* self flex */
    flex-wrap: wrap-reverse;

}
.contentMedia {
    min-height:200px;
    height: 35vh;
    min-width: 40vh;
    /* self flex */
    flex-grow: 3;
    border: solid lavender;
    display:grid;
    justify-content: center;
}
.mediaSized{
    height: 35vh;
    min-height:200px;
    min-width: 40vh;
}
.contentDescription {
    min-height:200px;
    height: 35vh;
    min-width: 40vh;
    inline-size: 30vw;
    /* self flex */
    flex-grow: 4;
    border: solid rebeccapurple;
    display:grid;
}
.contentDescriptionTitle{
    margin: 12.5px;
    font-family: Courier;
}
.contentDescriptionText{
    margin: 2.5px auto 2.5px;
    font-family: Courier;
    font-size: 1.5vh;
}