html{
    background-color: #1c1c1e;
}
#projectsScreen {
    height: auto;
    /* container flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: solid aqua 2px; */
}
#projectsContainer {
    min-width: 70vw;
    width: 85vh;
    max-width: 90%;
    height: auto;
    /* container flex */
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    /* border: solid antiquewhite 2px; */
}
.contentContainer {
    width: 100%;
    height: auto;
    color:aliceblue;
    /* container flex */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    column-gap: 2vw;
    row-gap: 2vh;
    background-color: #2c2c2e;
    border: solid #2c2c2e auto 3px auto 3px;
    /* border: solid firebrick 2px; */
}
.contentTypeOne {
    /* self flex */
    flex-wrap: wrap;
}
.contentTypeTwo {
    /* self flex */
    flex-wrap: wrap-reverse;

}
.contentMedia {
    padding: 2% 0px;
    min-height:200px;
    height: 35vh;
    min-width: 40vh;
    /* self flex */
    flex-grow: 3;
    /* border: solid lavender; */
    display:grid;
    justify-content: center;
}
.mediaSized{
    height: 35vh;
    min-height:200px;
    min-width: 40vh;
}
.contentDescription {
    padding: 0 2.5vh;
    min-height:200px;
    height: 35vh;
    min-width: 46vh;
    inline-size: 30vw;
    /* self flex */
    flex-grow: 4;
    /* border: solid rebeccapurple; */
    display:grid;
}
.contentDescriptionTitle{
    margin: 12.5px;
    font-family: Courier;
}
.contentDescriptionText{
    /* margin: auto auto auto auto; */
    font-family: Courier;
    font-size: 1.5vh;
}