html{
    background-color: #1c1c1e;
}
#landingScreen{
}
#landingContainer{
    margin: auto auto 5vh;
    height: 69vh;
    width: 95vw;
    background-color: #2c2c2e;
}
#navTextContainer{
    position: absolute;
    top: 4vh;
    right: 11vh;
    width: 9vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #e5e5ea;
    border-radius: 10%;
    background-color: #2c2c2e;
}
#linksScreen{
    margin: auto auto 5vh;
    height:auto;
    width: auto;
    /* background-color: #2c2c2e; */
    display: flex;
    justify-content: center;    
    align-items: center;
}
#linksContainer{
    position: relative;
    top:9vh;
    /* margin: auto auto 5vh; */
    height: 74vh;
    max-width: 80vw;
    width: 50vh;
    background-color: #2c2c2e;
}
.linksTextContainer{
}
#navHref{
    font-family: Courier;
    font-size: 1.5vh;
    color:aliceblue;
}
#pageTextContainer{
    position: absolute;
    top: 0vh;
    width: auto;
    margin: 0vh 30vh 0vh 6vh;
    /* container flex */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
}
#pageTitle{
    font-family: Courier;
    font-size: 10vh;
    color:aliceblue;
}
#pageBio{
    font-family: Courier;
    font-size: 1.5vh;
    color:aliceblue;
    height:auto;
    max-width: 65vh;
}
#projectsScreen {
    height: auto;
    /* container flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#projectsContainer {
    min-width: 70vw;
    width: 85vh;
    max-width: 90%;
    height: auto;
    /* container flex */
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
}
.contentContainer {
    width: 100%;
    height: auto;
    color:aliceblue;
    /* container flex */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    column-gap: 2vw;
    row-gap: 2vh;
    background-color: #2c2c2e;
}
.contentTypeOne {
    /* self flex */
    flex-wrap: wrap;
}
.contentTypeTwo {
    /* self flex */
    flex-wrap: wrap-reverse;

}
.contentMedia {
    padding: 2% 0px;
    min-height:200px;
    height: 35vh;
    min-width: 40vh;
    /* self flex */
    flex-grow: 3;
    display:grid;
    justify-content: center;
}
.mediaSized{
    height: 35vh;
    min-height:200px;
    min-width: 40vh;
}
.linkItem {
    /* container flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.linksMedia {
}
.linksFavicon{
    height: 5vh;
}
#linkList{
    display: block;
    float: left;
}
.linksTextContainer{
    height: 5vh;
    justify-content: center;
}
.linkText{
    /* text-justify: center; */
    font-family: Courier;
    font-size: 1vh;
    color:aliceblue;
    height:auto;
    max-width: 65vh;
}
.contentDescription {
    padding: 0 2.5vh;
    min-height:200px;
    height: 35vh;
    min-width: 46vh;
    inline-size: 30vw;
    /* self flex */
    flex-grow: 4;
    display:grid;
}
.contentDescriptionTitle{
    margin: 12.5px;
    font-family: Courier;
}
.contentDescriptionText{
    /* margin: auto auto auto auto; */
    font-family: Courier;
    font-size: 1.5vh;
    max-width: 75vw;
}